* {
    margin: -20px;
    background-color: black;
}

#bird {
    height: 70px;
    width: 70px;
}







/* Without booty strap */

/* .main-body {
    flex: row;
}

.left {
    max-height: 100vh;
    max-width: 100vw;
    background-size: contain;

}

#bird {
    width: 640px;
    height: auto;
    
} 

.right {
    background-color: black;
} 
*/