* {
    margin: 0;
    background-color: black;

}

.main-body {
    flex: row;
}

.left {
    max-height: 100vh;
    max-width: 100vw;
    background-size: contain;

}

#bird {
    width: 640px;
    height: auto;
    
}

.right {
    background-color: black;
}
