@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;600;800&display=swap');


* {
    background-color: black;
    font-family: 'Public Sans', sans-serif;
}

.icon-white {
    color: white;
}

#h1 {
    font-size: 65px;
    font-weight: 1000;
    font-stretch: extra-expanded;
}

#h2 {
    font-size: 35px;
    font-weight: 700;
}

#button1 {
    color:grey;
    font-size: 16px;
    background-color: white;
    border: 2px;
    padding: 10px 92px;
    text-align: center;
    display: inline-block;
    margin: 4px;
    border-radius: 30px;
    cursor: pointer;

}
#button2 {
    color:black;
    font-size: 16px;
    background-color: white;
    border: 2px;
    padding: 10px 92px;
    text-align: center;
    display: inline-block;
    margin: 4px;
    border-radius: 30px;
    cursor: pointer;
}

#or {
    text-align: center;
    border-bottom: 1px solid grey;;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

#spanor {
    background: black;
    padding: 0 10px;
}

ul {
    display: inline;
}









